*{
	padding: 0;
	margin: 0;
}
h1{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
}
nav ul{
	background-color:  #1a65c7;
	width: 100%;
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline-flex;
}
nav a{
	text-decoration: none;
	color: white;
	padding: 10px;
	width: 150px;
}
nav li:hover {
	background-color: #060b69;
}

img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
}
.contenido{
	display: flex;
	margin: 60px;
}
.articulos{
	width: 80%;
	border-right: 3px;
}
.secciones{
	display: flex;
	aling-items: center;
	padding: 40px;
}

.copy{
	text-align: center;
	font-size: .9rem;
	line-height: 1.4rem;
	background-color: black;
	padding: .5rem;
	color: white;
}